<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Listas</title>
        <link rel="stylesheet" href="../../media/css/metallist.css" type="text/css" />
    </head>
    <body>
        <div class="div_table">
        <h3>Listado de canciones</h3>
        <ol data-draggable="target">
            <li data-draggable="item" id="lista_cancion">
                <div id="lista_cancion_imagen_disco">
                    <img src="../../media/img/metallica-ride_the_lightning.jpg" 
                        alt="metallica - kill'em all" />
                </div>
                <div id="lista_cancion_texto">
                    <span id="lista_cancion_numero_titulo">
                    #1 - Fight Fire with Fire</span><br/>
                    <span id="lista_cancion_grupo_album_any">
                    Metallica - Ride the Lightning - 1984</span>                 
                </div>
            </li>
            <li data-draggable="item" id="lista_cancion">
                <div id="lista_cancion_imagen_disco">
                    <img src="../../media/img/metallica-ride_the_lightning.jpg" 
                        alt="metallica - kill'em all" />
                </div>
                <div id="lista_cancion_texto">
                    <span id="lista_cancion_numero_titulo">
                    #2 - Ride the Lightning</span><br/>
                    <span id="lista_cancion_grupo_album_any">
                    Metallica - Ride the Lightning - 1984</span>                 
                </div>
            </li>
            <li data-draggable="item">Item 2</li>
            <li data-draggable="item">Item 3</li>
            <li data-draggable="item">Item 4</li>
            <li data-draggable="item">Item 5</li>
            <li data-draggable="item">Item 6</li>
            <li data-draggable="item">Item 7</li>
            <li data-draggable="item">Item 8</li>
            <li data-draggable="item">Item 9</li>
            <li data-draggable="item">Item 10</li>
            <li data-draggable="item">Item 11</li>
            <li data-draggable="item">Item 12</li>
            <li data-draggable="item">Item 13</li>
            <li data-draggable="item">Item 14</li>
            <li data-draggable="item">Item 15</li>
            <li data-draggable="item">Item 16</li>
            <li data-draggable="item">Item 17</li>
            <li data-draggable="item">Item 18</li>
            <li data-draggable="item">Item 19</li>
        </ol>
        </div>
        <div id="lista_fila2">

            <h3>Lista</h3>
            <ol data-draggable="target">
                <li data-draggable="item">Item 4</li>
                <li data-draggable="item">Item 5</li>
            </ol>
            
            <br/>
                <audio controls id="reproductor_musica">
                   <source src="../../media/audio/metallica/Ride_The_Lightning/01-Fight_Fire_With_Fire.mp3" type="audio/mpeg">
                   <source src="../../media/audio/metallica/Ride_The_Lightning/01-Fight_Fire_With_Fire.ogg" type="audio/ogg"/>
                   <!-- Texto fallback -->
                   Tu navegador no soporta la reproducción.<br/>Actualizaló o 
                   <a href="../../media/audio/metallica/Ride_The_Lightning/01-Fight_Fire_With_Fire.ogg"> descarga </a> el fichero.
               </audio>
        </div>
        <div class="clear"></div>

        <script src="../view_logic/drag_and_drop.js" type="text/javascript"></script>

    </body>
</html>