<li data-draggable="item" class="lista_cancion" id="{id_cancion}" files="{source_files}">
    <div class="lista_cancion_imagen_disco">
        <img src="{imagen_disco}" draggable="false"
            alt="{alt_imagen_disco}" />
    </div>
    <div class="lista_cancion_texto">
        <span class="lista_cancion_numero_titulo">
        {posicion_titulo_cancion}</span><br/>
        <span class="lista_cancion_grupo_album_any">
        {grupo_album_any}</span>                 
    </div>

</li>
