Tomaremos de partida el código de James Edwards para el drag&drop accesible con normas ARIA.
http://www.sitepoint.com/accessible-drag-drop/
https://github.com/sitepoint-editors/accessible-drag-and-drop
Hay otro excelente tutorial en http://www.html5rocks.com/en/tutorials/dnd/basics/

Para AJAX he utilizado
http://www.w3schools.com/php/php_ajax_database.asp
http://soyautodidacta.com/2013/03/insertar-datos-en-mysql-con-php-usando-ajax-para-evitar-recargar-la-pagina/
de Jorge Caperote

MVC
código de datos en un lado, 
código de aplicación en otro,
código de presentación en otro (vista y lógica)